annotated-types==0.6.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
icrawler==0.6.7
idna==3.6
lxml==5.1.0
pillow==10.2.0
pydantic==2.6.3
pydantic_core==2.16.3
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
typing_extensions==4.10.0
urllib3==2.2.1
